.contact {
  margin: 20px 10%;
  border-top: 1px solid #bfbfbf;
  padding-top: 60px;
  &-title {
    font-size: 26px;
    color: $color-primary;
  }
  &-block {
    margin-top: 50px;
    @extend Flex_start_spacebetween;
    &-left {
      width: 45%;
      &-text {
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        &-linkmaps {
          color: $color-primary;
          font-family: Averta-Semibold;
        }
      }
    }
    &-right {
      width: 45%;
      &-title {
        font-size: 16px;
        text-align: justify;
        margin-bottom: 30px;
      }
      &-form {
        &-box {
          @extend Flex_start_spacebetween;
          margin-bottom: 30px;
          &-input {
            width: 45%;
            height: 45px;
            border-radius: 5px;
            padding-left: 15px;
            font-size: 16px;
            outline: none;
          }
        }
        &-input {
          width: 100%;
          margin-bottom: 30px;
          height: 45px;
          border-radius: 5px;
          padding-left: 15px;
          font-size: 16px;
        }
        &-textarea {
          margin-bottom: 30px;
          width: 100%;
          height: 170px;
          border-radius: 5px;
          padding: 15px;
          font-size: 16px;
          font-family: Averta-Regular;
          border: 0.5px solid #bfbfbf !important;
        }
        &-btn {
          display: block;
          width: 100%;
          text-align: center;
          background-color: $color-primary;
          padding: 10px 0;
          border-radius: 3px;
          color: $color-white;
          margin-top: 30px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          outline: none;
          border: none;
          &:hover {
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          }
        }
      }
    }
  }
  &-googlemaps {
    position: relative;
    width: 80vw;
    height: 36.5812vw;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover {
      cursor: pointer;
    }
  }
}
