.footer {
  &-wall {
    margin: 50px 10%;
    height: 1px;
    background-color: $color-paragraph;
  }
  &-main {
    @extend Flex_start;
    margin: 0 10%;
    &-about {
      width: 25%;
      padding-right: 50px;
      &-img {
        @extend Image_settings;
        width: 260px;
        height: 60px;
        margin-bottom: 20px;
      }
      &-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }
      &-call {
        &-text {
          font-size: 16px;
          margin-bottom: 5px;
        }
        &-number {
          font-size: 16px;
          font-family: Averta-Semibold;
          margin-bottom: 20px;
        }
      }
    }
    &-menu {
      width: 75%;
      &-menu {
        @extend Flex_start;
        &-block {
          width: 33%;
          &-title {
            font-size: 20px;
            font-family: Averta-Semibold;
            font-weight: 500;
            margin-bottom: 20px;
          }
          &-text {
            font-size: 16px;
            margin-bottom: 20px;
          }
        }
      }
      &-social {
        margin-bottom: 50px;
        &-text {
          font-size: 20px;
          font-family: Averta-Semibold;
          font-weight: 500;
          margin-bottom: 20px;
        }
        &-group {
          @extend Flex_center;
          &-img {
            @extend Image_settings;
            width: 40px;
            height: 40px;
            margin-right: 20px;
          }
        }
      }
      &-certificate {
        &-text {
          font-size: 20px;
          font-family: Averta-Semibold;
          font-weight: 500;
          margin-bottom: 20px;
        }
        &-group {
          @extend Flex_center_spacebetween;
          &-1 {
            @extend Flex_center;
            &-img {
              @extend Image_settings;
              width: 110px;
              height: 80px;
            }
          }
          &-2 {
            @extend Flex_center;
            &-img1 {
              @extend Image_settings;
              width: 200px;
              height: 76px;
            }
            &-img2 {
              @extend Image_settings;
              width: 133px;
              height: 50px;
              margin-left: 50px;
            }
          }
        }
      }
    }
  }
}
