.pagination {
  @extend Flex_center;
  justify-content: center;
  margin: 20px 0 70px 0;
  &-activate {
    background-color: $color-primary;
    color: $color-white;
  }
  &-pre {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;
    &-icon {
      font-size: 20px;
      color: #bfbfbf;
      margin-left: 11px;
      margin-top: 7px;
    }
  }
  &-number {
    margin-right: 20px;
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    line-height: 34px;
    text-align: center;
    border-radius: 3px;
  }
  &-next {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 20px;

    &-icon {
      font-size: 20px;
      color: #333;
      margin-left: 12px;
      margin-top: 7px;
    }
  }
  &-super-next {
    width: 36px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;

    &-icon {
      font-size: 20px;
      color: #333;
      margin-left: 10px;
      margin-top: 7px;
    }
  }
}
